div.about-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.swiper-container {
  width: 70vh;
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position: 50% 50%; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-text-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  font-size: 2em;
  font-family: helvetica;
  text-align: center;
}

.show-overlay {
  opacity: 0;
}

@media only screen and (max-width: 700px) {
  .swiper-container {
    width: 90vw;
    height: 90vw;
  }
  .swiper-text-overlay {
    font-size: 1.5em;
    padding: 8px;
    a {
      color: var(--hover-color);
    }
  }
  .swiper-pagination {
    transform: translateY(-25px);
  }
}

.swiper-container-horizontal > div.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -3vh;
}

span.swiper-pagination-bullet {
  background: var(--font-color);
}

span.swiper-pagination-bullet-active {
  background: var(--hover-color);
}

.swiper-button-navigator {
  position: absolute;
  top: 50%;
  font-size: 1.5em;
  color: var(--hover-color);
  z-index: 99;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.3);
  }
}

.swiper-button-left {
  left: -1em;
  right: auto;
}

.swiper-button-right {
  left: auto;
  right: -1em;
}

.inline-internet-link {
  color: var(--hover-color);
  &:hover {
    transform: scale(1.2);
  }
}