.about-box {
  display: flex;
  width: 100%;
  min-height: 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  overflow: hidden;
  padding-top: 1em;
}

.about-box img {
  flex: 0 0 48%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
  max-width: 400px;
  max-height: 400px;
}

.about-box p {
  flex: 0 0 48%;
}

@media only screen and (max-width: 600px) {
  .about-box {
    flex-direction: column;
    margin-bottom: 1em;
  }
  .about-box img {
    order: 2;
  }
}