// Specific CSS for your home-page
h1 {
  font-weight: bold;
}

.page-container {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1em;
  img {
    align-self: center;
    width: 100%;
    max-width: 280px;
  }
}
