.panels {
  min-height: 74vh;
  height: 100%;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.panel {
  background-color: var(--bg-color);
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.5s,
    flex 0.5s,
    background-image 0.5s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  
  h3 {
    z-index: 98;
    font-size: 1.5em;
    flex: 1 1 auto;
    max-height: 2em;
    margin: 24px 0;
  }
  div {
    max-height: 0;
    overflow: hidden;
  }
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.panel.open {
  font-size: 40px;
  flex-grow: 6;
}

div.project-description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  max-height: 0;
  transition: max-height .5s;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0;
  margin-bottom: 10%;
  .project-link-button {
    background-color: var(--font-color);
    border-radius: 8px;
    padding: 8px;
    color: var(--bg-color);
    font-size: .6em;
    width: 30%;
    &:hover {
      color: var(--hover-color);
    }
  }
}

div.project-description-box p {
  color: white;
  z-index: 99;
  font-size: .6em;
  margin: 8px 8%;
}



@media only screen and (max-width: 700px) {
  .panels {
    flex-direction: column;
  }
}