html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 74vh;
  height: 100%;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  &:before {
    content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
      opacity: .3; 
  }
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }

.panel > *:nth-child(3) { transform: translateY(100%); }
.panel.open-active > *:nth-child(3) { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  flex-grow: 1;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  font-size: 40px;
  flex-grow: 5;

}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    padding-left: .4em;
    margin-bottom: 0;
  }
}

.project-card {
  display: flex;
  padding: 0;
  color: $body-color;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 240px;
  max-height: 240px;
  overflow: hidden;
}

.project-card a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: cyan;
  }
}

.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em;
}

.project-card img {
  width: 40%;
  min-height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .project-card {
    flex-direction: column;
    max-height: none;
    img {
      width: 100%;
      max-height: 300px;
    }
  }
}