<div class="footer">
  <div class="footer-list">
    <span>△</span>
    <a href="https://www.facebook.com/Hayatooooo" target="_blank">
      <i class="fab fa-facebook-f social-media-link"></i>
    </a>
    <a href="https://www.instagram.com/hayayto/" target="_blank">
      <i class="fab fa-instagram social-media-link"></i>
    </a>

    <a href="https://www.linkedin.com/in/hayato-clarke/" target="_blank">
      <i class="fab fa-linkedin-in social-media-link"></i>
    </a>

    <a href="https://github.com/drdrongo" target="_blank">
      <i class="fab fa-github social-media-link"></i>
    </a>

    <%= mail_to 'hayatoclarke@gmail.com' do %>
      <i  class="far fa-envelope social-media-link"></i>
    <% end %>
  </div>
</div>