<style>
  div.navbar {
    color: white;
    font-size: 1.5em;
    border-bottom: none;
    justify-content: space-between;
    background-color: black;
    min-height: 80px;
    max-height: 80px;
    padding: 0;
  }

  div.navbar .show ul {
    z-index: 99;
    position: absolute;
    top: 80px;
    height: 400px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  div.navbar li {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.navbar img {
    width: 36px;
    filter: invert(1);
  }

  .nav-pills .nav-link.active {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.5);
    color: cyan;
  }

  div.navbar a, i {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
  }

  .navbar i {
    font-size: 1.5em;
    position: relative;
  }

  .navbar i span {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: .8em;
    filter:blur(2px);
    color: pink;
  }

  .navbar i:hover span {
    animation: flicker 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes flicker {
  0% { opacity: 1; }
  10% { opacity: 0.7; }
  20% { opacity: 0.5; }
  30% { opacity: 0.5; }
  40% { opacity: 1; }
  50% { opacity: 0.7; }
  60% { opacity: 1; }
  70% { opacity: 0.7; }
  80% { opacity: 0.5; }
  90% { opacity: 0.4; }
  100% { opacity: 6; }
}







  div.navbar a:hover, i:hover {
    color: cyan;
    transform: scale(1.5);
    transition: all 0.5s;
  }

  @media only screen and (max-width: 767px) {
    .navbar-collapse {
      width: 100%;
      position: absolute; 
      top: 0;
      left: 0;
    }
  }
</style>

<div class="navbar navbar-expand-md navbar">    
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag 'list-icon.svg' %>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills nav-fill w-100 py-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link"　id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">About</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link"　id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link"　id="pills-chat-tab" data-toggle="pill" href="#pills-chat" role="tab" aria-controls="pills-chat" aria-selected="false">Hello</a>
      </li>
      <li>
        <i class="far fa-lightbulb" id="style-changer" onclick="changeStyleYellow()"><span>*</span></i>
      </li>
    </ul>
  </div>
</div>
  


<script>
  const changeColorOfAll = (element, color) => {
    var els = document.querySelectorAll(element);
    for (var x = 0; x < els.length; x++)
      els[x].style.color = color;
  }

  const changeStyleYellow = () => { 
    document.body.style.background = '#fbb034';
    document.body.style.color = 'black';
    changeColorOfAll('.social-media-link', 'green');
    changeColorOfAll('.internet-link', 'green');
    changeFunction('Green');
  }

  const changeStyleGreen = () => {

    document.body.style.background = '#2AA482';
    document.body.style.color = 'white';
    changeColorOfAll('.social-media-link', 'lightgreen')
    changeColorOfAll('.internet-link', 'white');

    changeFunction('Red')
  }

  const changeStyleRed = () => {
    document.body.style.background = '#FB8D3F';
    document.body.style.color = 'white';
    changeColorOfAll('.social-media-link', 'black')
    changeFunction('Black')
  }

  const changeStyleBlack = () => {

    document.body.style.background = 'black'
    document.body.style.color = 'cyan';
    changeColorOfAll('.social-media-link', 'white')
    changeFunction('Yellow')
  }

  const changeFunction = (style) => {
    document.getElementById('style-changer').setAttribute('onclick',"changeStyle" + style + "()")
  }

  const navbarToggler = document.querySelector('button.navbar-toggler')
  const navbar = document.querySelector('.navbar-collapse')

  navbarToggler.addEventListener('click', function() {
    navbar.classList.toggle('show')
  })

  document.querySelectorAll('a.nav-link').forEach((element) => {
    element.addEventListener('click', function() {
      navbar.classList.remove('show');
    })
  })


</script> 