<script>
  const changeColorOfAll = (element, color) => {
    var els = document.querySelectorAll(element);
    for (var x = 0; x < els.length; x++)
      els[x].style.color = color;
  }

  const changeStyleYellow = () => { 
    document.body.style.background = '#fbb034';
    document.body.style.color = 'black';
    changeColorOfAll('.social-media-link', 'green');
    changeColorOfAll('.internet-link', 'green');
    changeFunction('Green');
  }

  const changeStyleGreen = () => {

    document.body.style.background = '#2AA482';
    document.body.style.color = 'white';
    changeColorOfAll('.social-media-link', 'lightgreen')
    changeColorOfAll('.internet-link', 'white');

    changeFunction('Red')
  }

  const changeStyleRed = () => {
    document.body.style.background = '#FB8D3F';
    document.body.style.color = 'white';
    changeColorOfAll('.social-media-link', 'black')
    changeFunction('Black')
  }

  const changeStyleBlack = () => {

    document.body.style.background = 'black'
    document.body.style.color = 'cyan';
    changeColorOfAll('.social-media-link', 'white')
    changeFunction('Yellow')
  }

  const changeFunction = (style) => {
    document.getElementById('style-changer').setAttribute('onclick',"changeStyle" + style + "()")
  }

</script>  




<div class="navbar navbar-expand-md navbar-hayato py-2 w-100">    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag 'list-icon.svg' %>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="nav nav-pills nav-fill w-100 py-3" id="pills-tab" role="tablist">
      <li class="nav-item mr-1" style="flex-basis: 23%;" role="presentation">
        <a class="nav-link p-1 active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item mr-1" id="profile-tab-link" style="flex-basis: 23%;" role="presentation">
        <a class="nav-link p-1"　id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">About</a>
      </li>
      <li class="nav-item mr-1" style="flex-basis: 23%;" role="presentation">
        <a class="nav-link p-1"　id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item" style="flex-basis: 23%;" role="presentation">
        <a class="nav-link p-1"　id="pills-chat-tab" data-toggle="pill" href="#pills-chat" role="tab" aria-controls="pills-chat" aria-selected="false">Hello</a>
      </li>
    </ul>
  </div>
  <i class="far fa-lightbulb mr-5 align-self-center" id="style-changer" onclick="changeStyleYellow()"></i> 
</div>

