
<div class="container w-100 p-3">
  <h2>About</h2>
  <p>Hi, I'm Hayato.</p>
  <p>
    Web application developer specializing in Ruby on Rails.
    Currently open to work and always looking for the next big project to work on. 
  </p>
  <p>Currently based in <a class="internet-link" href="https://en.wikipedia.org/wiki/Shinagawa">Shinagawa, Tokyo,</a> originally from <a class="internet-link" href="https://en.wikipedia.org/wiki/Manawatu_District">Manawatu, New Zealand.</a></p>

  <p>Intrigued by nature, music, art, martial arts, VFX, video games, good movies, and better conversations.</p>

  <div class="about-box">
    <%= image_tag 'hiking.jpg' %>
    <p>I'm at my happiest when I'm outside camping or going for walk in the bush.</p>
  </div>

  <div class="about-box">
    <p>Cooking is one of my passions, I really enjoy cooking for myself.</p>
    <%= image_tag 'cooking.jpg' %>
  </div>

  <div class="about-box">
    <%= image_tag 'yoshi_hik.jpg' %>
    <p>Two of the characters I grew up with: My older brother, and my dog, Yoshi.</p>
  </div>

</div>

