<div class="hello-container">
  <div class="hello-card">
    <h2>Hello</h2>
    <p>I'd love to hear from you.<br>To get in touch, simply <%= mail_to 'hayatoclarke@gmail.com', "Email Me,", class: 'social-media-link'%>
     send me a request on <a class="social-media-link" href="https://www.linkedin.com/in/hayato-clarke/">Linkedin</a>, or visit my <a class="social-media-link" href="https://github.com/drdrongo">Github page</a></p>
    <div class="social-media-links">
        <a href="https://www.facebook.com/Hayatooooo" target="_blank">
      <i class="fab fa-facebook-f social-media-link"></i>
      </a>
      <a href="https://www.instagram.com/hayayto/" target="_blank">
        <i class="fab fa-instagram social-media-link"></i>
      </a>

      <a href="https://www.linkedin.com/in/hayato-clarke/" target="_blank">
        <i class="fab fa-linkedin-in social-media-link"></i>
      </a>

      <a href="https://github.com/drdrongo" target="_blank">
        <i class="fab fa-github social-media-link"></i>
      </a>

      <%= mail_to 'hayatoclarke@gmail.com' do %>
        <i  class="far fa-envelope social-media-link"></i>
      <% end %>
    </div>
  </div>
  <img class="hello-image" src="https://images.unsplash.com/photo-1512626120412-faf41adb4874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="msg-me">
</div>

