<div class="hello-container">
  <div class="hello-card">
    <h3>Hello</h3>
    <p>I'd love to hear from you.<br>To get in touch, simply <%= mail_to 'hayatoclarke@gmail.com', "Email Me", class: 'social-media-link'%>
    or send me a request on <a class="social-media-link" href="https://www.linkedin.com/in/hayato-clarke/">Linkedin</a>, and click <a class="social-media-link" href="https://github.com/drdrongo">here</a> to visit my Github page.</p>
  </div>
</div>

