<div class="page-container" >
  <div class="home-text">
    <h2>Hayato Clarke</h2>
    <p>
      Hello! I'm Hayato.
      <br>
      I'm a Tokyo-based web developer and this is my personal site!
      <br>
      Have a look around and tell me what you think!
    </p>
  </div>

  <%= image_tag 'hayato.jpg' %>
</div>
