<h1>About</h1>
<h3>I'm Hayato</h3>
<p>I'm a web application developer specializing in Ruby on Rails in the Tokyo area.
Thanks for visiting my page. I'm from New Zealand, and I'm at my most happy when I'm camping or going for a walk in the bush. Feel free to stick around and check out some of my design work and experiments.</p>