<div class="container">
  <h1>Hello</h1>
  <p>I'd love to hear from you. To get in touch, simply <%= mail_to 'hayatoclarke@gmail.com', "Email Me" %>
  or add me on <a href="https://www.linkedin.com/in/hayato-clarke/">Linkedin</a>, and see more of my work on <a href="https://github.com/drdrongo">Github.</a></p>
</div>