<div class="projects-container">
<% projects.each do |project| %>
  <div class="project-card">
    <div class="project-card-content">
      <h1><%= link_to project.title, project_path(project) %></h1>
      <p><%= project.description %></p>
      <p><strong>Link: <%= link_to project.link, "http://#{project.link}" %></strong></p>
    </div>
    <%= image_tag "#{project.title.gsub(' ', '_')}.jpg" %>
  </div>
<% end %>
</div>