.footer {
  min-height: 4em;
  padding: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.footer-list {
  list-style: none;
  display: flex;
  padding: none;
  margin: none;
}
