// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";

html,
body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .section.header {
  flex: 0 1 auto;
}

.box .section.content {
  flex: 1 1 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.box .section.footer {
  flex: 0 1 40px;
}

a {
  text-decoration: none;
  color: $body-color;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: cyan;
  }
  &:focus {
    text-decoration: none;
    color: $body-color;
  }
  &:active {
    text-decoration: none;
    color: $body-color;
  }
}

button:focus {
  outline: none;
}