// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";

html,
body {
  height: 100%;
  margin: 0;
  color: grey;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .section.header {
  flex: 0 1 auto;
}

.box .section.content {
  flex: 1 1 auto;
}

.box .section.footer {
  flex: 0 1 40px;
}