// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";

:root {
  --bg-color: white;
  --font-color: black;
  --hover-color: red;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

div {
  transition: transform 0.3s, opacity 0.3s;
}

p, h1, h2, i, a {
  transition: color 0.3s, transform 0.3s;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .section.header {
  flex: 0 0 auto;
}

.box .section.content {
  flex: 1 1 auto;
}

.tab-pane {
  height: 100%;
}

.tab-content {
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  &:hover {
    text-decoration: none;
    color: var(--hover-color);
  }
  &:focus {
    text-decoration: none;
    color: var(--font-color);
  }
  &:active {
    text-decoration: none;
    color: var(--font-color);
  }
}

button:focus {
  outline: none;
}