.navbar-hayato {
  justify-content: space-between;
  background-color: black;
  // background: rgb(132,22,173);
  // background: linear-gradient(90deg, rgba(132,22,173,0.8673844537815126) 28%, rgba(175,87,208,0.7497373949579832) 100%);
  height: 80px;
  color: white;
  font-size: 1.5em;
  border-bottom: none;
  padding-right: 0;
  padding-left: 1rem !important;
}

.navbar-hayato a {
  color: white;
  text-decoration: none;
  transition: color .3s;
  &:hover {
    color: cyan;
    transition: color .3s;
  };
}

.navbar-hayato li {
  margin-right: 16px;
}

.navbar-hayato .navbar-collapse {
  flex-grow: 0;
}

.navbar-hayato img {
  width: 30px;
  filter: invert(1);
}

div {
  transition-timing-function: ease-in-out;
  transition: height .5s, background-color .5s, width .5s;
}

.show {
  top: 80px;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  left: 0;
  transition: height .5s ease-in-out, background-color .5s ease-in-out, width .5s ease-in-out, background-color 0.5s ease-in-out;
  color: white;
}

.show + .navbar-hayato {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s;
}

.show li {
  opacity: 1;
  transition: opacity .5s;
  text-shadow: 1px 1px 2px black;
}

.collapsing {
  top: 80px;
  height: 0;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  transition: height .5s ease-in-out, background-color .5s ease-in-out, width .5s ease-in-out;
}

.collapsing li {
  opacity: 0;
  transition: opacity .5s;
}

.navbar-collapse {
  padding: 32px;

}